import os, sys

# Path to your project
path = '/home/linkcollector/django-link-collector'
if path not in sys.path:
    sys.path.append(path)

# Settings module
os.environ['DJANGO_SETTINGS_MODULE'] = 'config.settings'

from django.core.wsgi import get_wsgi_application
application = get_wsgi_application()
